{% extends 'core/base.html' %}
{% load static %}
{% block title %}Buyer{% endblock %}


{% block content %}


<div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <h1 class="title" style="text-align: center;">Profile - {{ buyer.name }}</h1>

        <strong>I Shoped: </strong>${{ value }}<br>

        <hr>

        <a href="{% url 'edit_profile' %}" class="btn btn-warning">Edit Profile</a>
        <a href="{% url 'logout' %}" class="btn btn-danger">Log out</a>
		{% if luckydraw.draw > 0 %}
        <br>
        <br>
		<span>Lucky Draw left {{ luckydraw.draw }}</span>
		<a href="{% url 'luckydraw' %}" class="btn"  style="padding: 0; border: none; border-radius: 100%; text-decoration: none;"><img src="{% static 'wheel.jpg' %}" alt="" style="height: 30px;"/></a>
		{% endif %}
            </div>
        </div>
    </div>
    <br>
<div class="row">
		<!-- container -->
		<div class="col-lg-12">
			<!-- row -->
			<div class="box-element" style="padding: 20px;">
        <h3 style="text-align: center;"><b>Buyer Profile - {{ buyer.name }}</b></h3>

    <h2 style="text-align: center; margin-bottom: 10px;">
        My Products
    </h2>
    <hr>
    <div class="cart-row">
        <div style="flex: 2"></div>
        <div style="flex: 2"><strong>Item</strong></div>
        <div style="flex: 1"><strong>Price</strong></div>
        <div style="flex: 1"><strong>Quantity</strong></div>
        <div style="flex: 1"><strong>Total</strong></div>
        <div style="flex: 1"><strong>Vendor</strong></div>
      </div>
      {% for order in order %}
      {% if order.buyer.name == buyer.name %}
      <div class="cart-row">
        <div style="flex: 2">
          <img class="row-image" src="{{ order.product.get_thumbnail }}" />
        </div>
        <div style="flex: 2">{{ order.product.title }}</div>
        <div style="flex: 1">${{ order.product.price }}</div>
        <div style="flex: 1; justify-content: center; align-items: center">
          <div class="quantity">{{ order.quantity }}</div>
        </div>
        <div style="flex: 1">${{ order.price }}</div>
        <div style="flex: 1">
         {{order.vendor.name}}
        </div>
      </div>
        {% endif %}
		{% endfor %}
    </div>
			</div>
		</div>
</div>
<br>
{% endblock %}